body {
    background-color: #3b3b3b;
}

/* 通栏 */
.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* logo */
.wrapper .head {
    display: flex;
    width: 100%;
    height: 66px;
    background-color: #18191b;
    /* padding-left: 390px; */
    align-items: center;
    border-top: 1px solid #51565d;
    border-bottom: 1px solid #51565d;
}

.wrapper .head .logo {
    margin-left: 300px;
    margin-right: 250px;
}

.wrapper .head .logo a {
    display: block;
    width: 83px;
    height: 24px;
    background: url(../images/屏幕截图\ 2025-10-19\ 221613.png) no-repeat center center;
    font-size: 0;
}

/* 导航栏 */
.nav ul {
    display: flex;
}

.nav ul li {
    display: flex;
    position: relative;
}

.nav ul li .n {
    display: flex;
    margin: 10px 10px;
}


.nav ul li .blue,
.nav ul li .orange,
.nav ul li .purple,
.nav ul li .green {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* 蓝色框 */
.nav ul li:hover .blue {
    background-color: rgb(50, 50, 213, 0.5);
}

/* 橙色框 */
.nav ul li:hover .orange {
    background-color: rgb(255, 165, 0, 0.5);
}

/* 紫色框 */
.nav ul li:hover .purple {
    background-color: rgb(128, 0, 128, 0.5);
}

/* 绿色框 */
.nav ul li:hover .green {
    background-color: rgb(0, 128, 0, 0.5);
}

/* 鼠标样式 */
.nav ul li:hover {
    /* background-color: #3b68c3; */
    cursor: pointer;
}

.nav ul li {
    display: flex;
    color: #fff;
}

.nav ul li a {
    color: #fff;
}

.nav ul li .icon-boshimao,
.nav ul li .icon-banshou {
    font-size: 20px;
}

/* 箭头 */
.nav ul li .jiantou {
    position: relative;
    font-size: 16px;
}

.nav ul li .jiantou .icon-xialajiantouxiao,
.nav ul li .jiantou .icon-shouqijiantouxiao {
    position: absolute;
    left: -12px;
    top: 25%;
}

.nav ul li .jiantou .icon-shouqijiantouxiao {
    color: rgba(255, 255, 255, 0);
}

.nav ul li:active .jiantou .icon-shouqijiantouxiao {
    color: rgba(255, 255, 255, 1);
}

.nav ul li:active .jiantou .icon-xialajiantouxiao {
    color: rgba(255, 255, 255, 0);
}

/* 搜索 */
.head .search {
    display: flex;
    position: relative;
    margin-left: 220px;
    padding-left: 15px;
    width: 100px;
    height: 40px;
    border: 1px solid #51565d;
    background-color: transparent;
    border-radius: 20px;
}

.head .search input {
    /* flex: 1; */
    border: 0;
    width: 70%;
    height: 100%;
    background-color: transparent;
    outline: none;
}

.head .search input::placeholder {
    font-size: 14px;
    color: #a4cefe;
}

.head .search span {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.head .search .white1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0);
}

.search:hover .white1 {
    background-color: rgb(255, 255, 255, 0.1);
}

/* 登录 */
.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, 0);
}

.enter:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.enter span {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

/* head2 */
.wrapper .head2 {
    display: flex;
    width: 100%;
    height: 35px;
    font-size: 15px;
    /* justify-content: center; */
    align-items: center;
    background-color: #212426;
    border-bottom: 1px solid #51565d;
}

.wrapper .head2 a {
    padding: 0px 4px;
}

.wrapper .head2 a:first-child {
    margin-left: 300px;
    color: #fff;
    text-decoration: none;
}

.wrapper .head2 a:hover {
    text-decoration: underline;
}

.wrapper .head2 a:nth-child(2),
.wrapper .head2 a:nth-child(3) {
    color: #fff;
    line-height: 35px;
    background-color: transparent;
    text-decoration: none;
}

.wrapper .head2 a:nth-child(2) {
    margin-left: 1200px;
}

.wrapper .head2 a:nth-child(3) {
    margin-left: 35px;
}

.wrapper .head2 a:nth-child(2):hover,
.wrapper .head2 a:nth-child(3):hover {
    background-color: rgb(255, 255, 255, 0.1);
}

/* banner区域 */
.banner {
    /* display: flex; */
    width: 100%;
    height: 320px;
    background-color: #212426;
    background-image: url(../images/屏幕截图\ 2025-10-23\ 144152.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.banner1 {
    width: 705px;
    height: 120px;
    margin-left: 628px;
    /* margin-top: 10px; */
    font-size: 20px;
    color: #fff;
}

/* 伪元素选择器 */
.banner1 h1::after {
    content: '_';
    color: #A4CEFE;
}

/* banner2 */
.banner2 {
    width: 705px;
    height: 36px;
    margin: 24px 0 24px 628px;
    font-size: 20px;
    color: #fff;
}

.banner2 a {
    color: #69B6FE;
}

.banner2 a:hover {
    text-decoration: none;
}

/* 搜索 */
.banner .search {
    display: flex;
    margin-left: 628px;
    width: 620px;
    height: 78px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.banner .search .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158.14px;
    height: 78.4px;
    /* padding: 19px 24px; */
    border: 1px solid #51565d;
    border-radius: 39px;
}

.banner .search .search-button:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.banner .search .search-button a {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.banner .search .search-button a span {
    font-size: 24px;
}

.banner .search .search-button a .iconfont {
    margin-left: 24px;
}

.banner .search .search-button a .text {
    width: 108.2px;
    height: 44px;
    background-color: transparent;
    margin: 0;
}

/* 广告 */
.advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #181422;
}

.advertisement .bgi {
    width: 970px;
    height: 250px;
    background-image: url(../images/屏幕截图\ 2025-10-23\ 223438.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.advertisement .bgi a {
    width: 100%;
    height: 100%;
}

.advertisement .AD {
    display: flex;
    position: absolute;
    top: 4px;
    right: 316px;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 16px;
    background-color: transparent;
    border-radius: 3px;
    background-color: #c6c5ca;
}

.advertisement .AD a {
    width: 23px;
    height: 16px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    color: #4B4B4D;
}

.advertisement .AD:hover {
    background-color: #e5e3e5;
}

.advertisement .AD:hover a {
    text-decoration: none;
}

/* 内容 */
.text-content {
    /* display: flex; */
    width: 100%;
    height: 1605.23px;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #18191B;
    /* flex-wrap: wrap; */
}

.text-content dl {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    height: 381.13px;
    justify-content: space-between;
    /* align-content: space-around; */
    margin: 0 auto;
}

.text-content dl dt {
    color: #fff;
    width: 768px;
    height: 36px;
    font-size: 24px;
    margin: 20px 0;
}

.text-content dl dd {
    width: 376px;
    height: 138.6px;
}

/* box1 */
.text-content dl dd .box {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #51565D;
    padding: 16px;
}

.text-content dl dd:nth-child(1) .box,
.text-content dl dd:nth-child(2) .box {
    margin-bottom: 16px;
}

.text-content dl dd .box .box-one {
    width: auto;
    height: 19.2px;
}

.text-content dl dd .box .box-one a {
    display: block;
    width: 342.6px;
    color: #fff;
    font-size: 12.8px;
    text-decoration: none;
}

.text-content dl dd .box .box-one a:hover {
    text-decoration: underline;
}

/* box2 */
.text-content dl dd .box .box-two {
    width: auto;
    height: auto;
    margin-bottom: 16px;
}

.text-content dl dd .box .box-two a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.text-content dl dd .box .box-two a:hover {
    text-decoration: underline;
}

.text-content dl dd .box .box-three p {
    color: #fff;
    font-size: 12.8px;
    width: auto;
    height: auto;
    line-height: 15px;
}

.text-content dl dd .box .box2-one {
    display: flex;
    justify-content: space-between;
}

.text-content dl dd .box .box2-one a {
    font-size: 12.8px;
    width: 296px;
    height: auto;
    color: #fff;
    text-decoration: none;
}

.text-content dl dd .box .box2-one a:hover {
    text-decoration: underline;
}

.text-content dl dd .box .box2-one .box-day {
    font-size: 12.8px;
    width: 46.21px;
    height: 19.2px;
    color: #fff;
}

.text-content dl:last-child {
    width: 768px;
    height: auto;
}

.text-content dl .dd-two {
    width: 766.4px;
    height: 75.2px;
}

.text-content dl .dd-two .box {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.text-content dl dd:nth-child(2) .box {
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}

.text-content dl dd:last-child .box {
    border-radius: 0 0 8px 8px;
}

.text-content dl dd .box .box2-one {
    display: flex;
    justify-content: space-between;
}

.text-content dl dd .box .box2-one .a-span {
    display: flex;
    align-items: center;
}

.text-content dl dd .box .box2-one .a-span a {
    font-size: 12.8px;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
}

.text-content dl dd .box .box2-one .a-span a:hover {
    text-decoration: underline;
}

.text-content dl dd .box .box2-one .box-day {
    font-size: 12.8px;
    width: auto;
    height: auto;
    color: #fff;
}

.text-content dl dd .box .box2-one .a-span .open-span:hover {
    text-decoration: none;
}

.text-content dl dd .box .box2-one .a-span:hover .a-text {
    text-decoration: underline;
}

.text-content dl dd .box .box2-one .a-span span {
    font-size: 12.8px;
    width: auto;
    height: auto;
    margin-left: 3px;
    color: #fff;
    text-decoration: none;
}

.text-content dl dd .box .box2-two {
    display: flex;
}

.text-content dl dd .box .box2-two a {
    font-size: 16px;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
}

.text-content dl dd .box .box2-two a:hover {
    text-decoration: underline;
}

.text-content dl dd .box .box2-two .open-span:hover {
    text-decoration: none;
}

.text-content dl dd .box .box2-two:hover .a-text {
    text-decoration: underline;
}

.text-content dl dd .box .box2-two span {
    font-size: 12.8px;
    width: auto;
    height: auto;
    margin-left: 3px;
    color: #fff;
    text-decoration: none;
}



/* banner-2 */
.banner-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 231.1px;
    margin: 0 auto;
    background-color: #212426;
    position: relative;
}

.banner-2 .spot {
    width: auto;
    height: auto;
    font-size: 48px;
    position: absolute;
    top: 105.4px;
    left: 575.85px;
    color: #fff;
}

.banner-2 .banner2-text {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 533.1px;
    height: 100%;
}

.banner-2 .banner2-text .b2-t-1 {
    margin-top: 16px;
}

.banner-2 .banner2-text .b2-t-1 h2 {
    font-size: 24px;
    color: #fff;
}

.banner-2 .banner2-text .b2-t-2 {
    width: 100%;
    height: auto;
}

.banner-2 .banner2-text .b2-t-2 .b2-t-2-button {
    width: 225.43px;
    height: auto;
    padding: 3px 6px;
    background-color: #fff;
}

.banner-2 .banner2-text .b2-t-2 .b2-t-2-button a {
    font-size: 24px;
    width: auto;
    height: auto;
    color: #000;
    text-decoration: none;
}

.banner-2 .banner2-text .b2-t-2 .b2-t-2-button:hover a {
    text-decoration: underline;
}

.banner-2 .banner2-text .b2-t-3 {
    margin: 8px 0;
}


.banner-2 .banner2-text .b2-t-3 i {
    font-size: 16px;
    color: #c3c7cb;
}

.banner-2 .banner2-text .b2-t-4 {
    width: 122.21px;
    height: 33.1px;
    margin-bottom: 16px;
}

.banner-2 .banner2-text .b2-t-4 .b2-t-4-button {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
    padding: 7px;
}

.banner-2 .banner2-text .b2-t-4 .b2-t-4-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.banner-2 .banner2-text .b2-t-4 .b2-t-4-button a .b2-t-4-b-text {
    font-size: 14px;
    width: 84.74px;
    height: auto;
    color: #000;
}

.banner-2 .banner2-text .b2-t-4 .b2-t-4-button a .b2-t-4-b-jiantou {
    width: 17.5px;
    height: 17.5px;
    line-height: 17.5px;
    color: #000;
}

.banner-2 img {
    width: 203px;
    height: 128px;
    margin-left: 30.3px;
}

/* 广告2 */
.advertisement2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #181422;
    border-bottom: 1px solid #51565d;
}

.advertisement2 .bgi2 {
    width: 728px;
    height: 90px;
    background-image: url(../images/屏幕截图\ 2025-10-25\ 205513.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.advertisement2 .bgi2 a {
    width: 100%;
    height: 100%;
}

.advertisement2 .AD {
    display: flex;
    position: absolute;
    top: 4px;
    right: 370px;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 16px;
    background-color: transparent;
    border-radius: 3px;
    background-color: #c6c5ca;
}

.advertisement2 .AD a {
    width: 23px;
    height: 16px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    color: #4B4B4D;
}

.advertisement2 .AD:hover {
    background-color: #e5e3e5;
}

.advertisement2 .AD:hover a {
    text-decoration: none;
}

/* 尾部1 */
.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 302px;
    background-color: #212426;
    border-bottom: 1px solid #51565d;
    color: #c3c7cb;
}

.footer1 .f1-t {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1344.79px;
    height: 100%;
    padding: 28px 0;
}

.footer1 .f1-t .f1-t1 {
    width: 537.91px;
    height: 100%;
}

.footer1 .f1-t .f1-t1 .f1-t1-1 {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.footer1 .f1-t .f1-t1 .f1-t1-1 a {
    display: block;
    width: 83px;
    height: 24px;
    text-decoration: none;
    background-image: url(../images/屏幕截图\ 2025-10-25\ 212143.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer1 .f1-t .f1-t1 .f1-t1-2 {
    margin-bottom: 100px;
}

.footer1 .f1-t .f1-t1 .f1-t1-2 p {
    font-size: 16px;
}

.footer1 .f1-t .f1-t1 .f1-t1-3 {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    width: 100%;
    height: 24px;
}

.footer1 .f1-t .f1-t1 .f1-t1-3 a {
    width: 24px;
    height: 24px;
    text-decoration: none;
}

.footer1 .f1-t .f1-t1 .f1-t1-3 a span {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
    color: #C3C7CB;
}

.footer1 .f1-t .f1-t1 .f1-t1-3 a span:hover {
    color: #fff;
}

.footer1 .f1-t .f1-t1 .f1-t1-3 a:nth-child(1),
.footer1 .f1-t .f1-t1 .f1-t1-3 a:nth-child(2),
.footer1 .f1-t .f1-t1 .f1-t1-3 a:nth-child(3),
.footer1 .f1-t .f1-t1 .f1-t1-3 a:nth-child(4) {
    margin-right: 12px;
}

.footer1 .f1-t .f1-t1 .f1-t1-3 a:nth-child(2) span {
    line-height: 26px;
}

.footer1 .f1-t .f1-t1 .f1-t1-3 a:nth-child(3) span {
    line-height: 22px;
}

.footer1 .f1-t .f1-t2t3t4 {
    display: flex;
    width: 806.88px;
    height: 100%;
}

.footer1 .f1-t .f1-t2t3t4 .f1-t2,
.footer1 .f1-t .f1-t2t3t4 .f1-t3,
.footer1 .f1-t .f1-t2t3t4 .f1-t4 {
    width: 268.96px;
    height: 100%;
}

.footer1 .f1-t .f1-t2t3t4 dl {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 100%;
}

.footer1 .f1-t .f1-t2t3t4 dl dt {
    width: 100%;
    height: auto;
    font-size: 20px;
}

.footer1 .f1-t .f1-t2t3t4 dl dd {
    /* display: flex; */
    width: 100%;
    height: auto;
}

.footer1 .f1-t .f1-t2t3t4 dl dd:hover a {
    color: #fff;
}

.footer1 .f1-t .f1-t2t3t4 dl dd a {
    display: flex;
    width: auto;
    height: auto;
    font-size: 16px;
    color: #C3C7CB;
}

/* .footer1 .f1-t .f1-t2t3t4  .f1-t2 dl dd:nth-child(4) .dd-span,
.footer1 .f1-t .f1-t2t3t4  .f1-t2 dl dd:nth-child(7) .dd-span,
.footer1 .f1-t .f1-t2t3t4  .f1-t3 dl dd:nth-child(5) .dd-span,
.footer1 .f1-t .f1-t2t3t4  .f1-t3 dl dd:nth-child(6) .dd-span,
.footer1 .f1-t .f1-t2t3t4  .f1-t4 dl dd:nth-child(7) .dd-span{
    display: block;
    width: auto;
    height: auto;
    line-height: 25px;
    margin-left: 5px;
    text-decoration: none;
} */


/* a-open */
.a-open {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.a-open a {
    width: auto;
    height: auto;
    font-size: 16px;
    color: #C3C7CB;
}

.a-open .dd-span {
    display: block;
    width: auto;
    height: auto;
    margin-left: 4px;
    text-decoration: none;
}

.a-open .dd-span span {
    font-size: 14px;
    /* line-height: 20px; */
}

.a-open:hover a {
    color: #fff;
}

.footer2 {
    background-color: #212426;
    width: 100%;
    height: auto;
}

.footer2 .f2-t {
    padding: 28px 0;
    margin: 0 auto;
    width: 1344.79px;
    height: auto;
}

.footer2 .f2-t .f2-t1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.footer2 .f2-t .f2-t1 .f2-t1-2 {
    display: flex;
}

.footer2 .f2-t .f2-t1 .f2-t1-1 {
    width: 128px;
    height: 30px;
    margin-right: 30px;
}

.footer2 .f2-t .f2-t1 .f2-t1-2 .a-open {
    width: auto;
    height: auto;
    margin-right: 17px;
}

.footer2 .f2-t2 {
    width: 100%;
    height: auto;
    color: #C3C7CB;
    font-size: 16px;
}

.footer2 .f2-t2 a {
    color: #C3C7CB;
}

.footer2 .f2-t2 a:hover {
    color: #fff;
}